body{
   
   background-color: antiquewhite;
    
}
.college-mech{
    text-align: center;
    color: rgb(14, 136, 192);
    text-decoration: underline;
}
.college{
    text-align: center;
    color: rgb(246, 77, 21);
}


.nav_menu{
    padding: 10px;
    text-align: center;
  
}
form {
    padding: 10px;
    margin: 10px;
    /* border: 4px solid #f1f1f1; */
  }
  
  /* Add some padding and a grey background color to containers */
  .container {
    padding: 20px;
    /* background-color: #f1f1f1; */
  }
  
  /* Style the input elements and the submit button */
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Add margins to the checkbox */
  input[type=checkbox] {
    margin-top: 16px;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    border: none;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }

span{
    color: rgb(52, 140, 242);
}
.card1{
    width: 50vw;
    margin-left: 150px;   
}
.card2{
    width: 50vw;
    margin-left: 500px;   
}

.card3{
    width: 50vw;
    margin-top: 20px;

}

.flex-container {
    display: flex;
    padding: 20px;
    width: 50vw;
   
    
    text-align: center;
}
.flex-child {
    flex: 1;
    /* border: 2px solid yellow; */
    margin-left: 100px;
}  
.flex-child:first-child {
    margin-right: 20px;
    margin-left: 100px;
} 

.img{
    width: 50vw;
    height: 100vh;
    margin: 20px auto;
    padding: 10px;
}

.link{
    padding: 10px;
   
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.footer{
    text-align: center;
    color: rgb(105, 92, 92);
    font-size: 15px;
}